@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.25;
  font-size: 36px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 28px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header {
  position: relative;
  padding: 15px 0 15px;
}

@media (max-width: 575.98px) {
  .header::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 50px;
    border-bottom: 1px solid #ccc;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding-bottom: 0;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  .header-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .header-top__login-wrap {
    display: none;
  }
}

.header-top__login-icon {
  display: none;
  width: 17px;
}

@media (max-width: 575.98px) {
  .header-top__login-icon {
    display: inline;
    vertical-align: middle;
  }
}

.header-top__menu-toggle {
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
}

@media (max-width: 991.98px) {
  .header-top__menu-toggle {
    display: block;
  }
}

.header-top__menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #000;
}

.header-top__menu-toggle span:nth-child(2) {
  top: 9px;
  -webkit-transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: transform  .2s ease-in, all .2s linear .2s;
  transition: transform  .2s ease-in, all .2s linear .2s, -webkit-transform  .2s ease-in;
}

.header-top__menu-toggle span:nth-child(3) {
  top: 18px;
  -webkit-transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: transform  .2s ease-in, all .2s linear .2s;
  transition: transform  .2s ease-in, all .2s linear .2s, -webkit-transform  .2s ease-in;
}

.header-top__logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 2px;
  left: 70px;
}

@media (max-width: 575.98px) {
  .header-top__logo {
    display: block;
  }
}

.header-top__login {
  margin-right: 18px;
  color: #000;
}

.header-top__sign-up {
  color: #000;
}

.header-top__login:hover,
.header-top__sign-up:hover {
  text-decoration: underline;
}

.header-top__icon-wrap {
  position: relative;
}

.header-top__icon {
  max-width: 20px;
  margin-left: 22px;
  vertical-align: middle;
}

.header-top__amount {
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #c31401;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: -10px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .heador-menu__logo-wrap {
    display: none;
  }
}

.header-menu__logo {
  max-width: 206px;
  vertical-align: middle;
}

.header-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .header-nav__wrap {
    width: 100%;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .header-nav {
    position: absolute;
    top: 114px;
    left: -100%;
    -webkit-transition: left .4s ease-in-out;
    transition: left .4s ease-in-out;
    z-index: 100;
  }
}

@media (max-width: 575.98px) {
  .header-nav {
    top: 96px;
  }
}

.header-nav--active {
  left: 0;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
    border-bottom-right-radius: 10px;
  }
}

.header-nav__item {
  margin-right: 22px;
  padding: 0 14px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  outline: 0px transparent;
}

.header-nav__item:hover {
  outline: 1px solid #000;
}

@media (max-width: 991.98px) {
  .header-nav__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.header-nav__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000;
}

@media (max-width: 575.98px) {
  .header-nav__search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.search__form-wrap {
  width: 300px;
  height: 40px;
  position: absolute;
  right: 100px;
  bottom: -39px;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 991.98px) {
  .search__form-wrap {
    right: 15px;
  }
}

@media (max-width: 575.98px) {
  .search__form-wrap {
    position: relative;
    bottom: 7px;
  }
}

.search__form-wrap--active {
  display: block;
  opacity: 1;
}

.search__form-input {
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 14px;
}

@media (max-width: 575.98px) {
  .search__form-input {
    border: none;
    border-top: 1px solid #ccc;
  }
}

.search__submit {
  background: url(../img/icon/arrow.png) center no-repeat;
  font-size: 0;
  width: 24px;
  position: absolute;
  right: 20px;
  height: 45px;
  outline: none;
  border: none;
  opacity: .4;
  cursor: pointer;
}

.search__icon-wrap {
  cursor: pointer;
}

.search__icon {
  vertical-align: middle;
}

.search__icon:hover {
  fill: #5389be;
}

.mainblock {
  position: relative;
}

.mainblock-slider {
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 1;
}

.mainblock-slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #425948;
  opacity: 0.3;
  z-index: 0;
}

.mainblock-slider__item {
  height: 100vh;
}

@media (max-width: 575.98px) {
  .mainblock-slider__item {
    height: 214px;
  }
}

.mainblock-content {
  width: 100%;
  max-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 10;
}

.mainblock-content__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 1.17;
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .mainblock-content__title {
    font-size: 18px;
    margin-bottom: 14px;
  }
}

.mainblock-content__text {
  font-size: 30px;
  line-height: 1.66;
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .mainblock-content__text {
    font-size: 14px;
    margin-bottom: 22px;
  }
}

.mainblock-content__btn {
  font-size: 14px;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  display: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.owl-prev::after,
.owl-next::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 18%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@media (max-width: 575.98px) {
  .owl-prev,
  .owl-next {
    top: 240px;
  }
  .owl-prev::after,
  .owl-next::after {
    width: 30px;
    height: 30px;
    top: 22%;
    border-color: #000;
  }
}

.owl-prev {
  left: 100px;
}

.owl-next {
  right: 100px;
}

.owl-prev span,
.owl-next span {
  font-size: 40px;
  color: #fff;
}

@media (max-width: 575.98px) {
  .owl-prev span,
  .owl-next span {
    font-size: 30px;
    color: #000;
  }
}

.tempor {
  background-color: #f1f0f0;
  margin-top: 50px;
}

.tempor-heading {
  max-width: 780px;
  text-align: center;
  padding: 70px 0 50px;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .tempor-heading {
    padding: 30px 0 10px;
  }
}

.tempot-heading__title {
  text-transform: uppercase;
  margin-bottom: 26px;
}

@media (max-width: 575.98px) {
  .tempot-heading__title {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .tempor-heading__text {
    font-size: 14px;
  }
}

.tempor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 70px;
}

.tempor-content__item {
  position: relative;
  width: 33%;
  height: 234px;
  overflow: hidden;
  padding: 15px;
}

@media (max-width: 991.98px) {
  .tempor-content__item {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .tempor-content__item {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .tempor-content__item:last-child {
    width: 100%;
  }
}

.tempor-content__img-wrap {
  width: 362px;
  height: 234px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .tempor-content__img-wrap {
    width: 100%;
  }
}

.tempor-content__img {
  width: 100%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.tempor-content__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.tempor-content__text-wrap {
  position: absolute;
  bottom: 18px;
  left: 15px;
  width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 18px;
}

.tempor-content__text {
  font-size: 12px;
  line-height: 1.4;
}

.tempor-content__text:last-child {
  font-size: 18px;
}

.tempor-content__text-link {
  color: #fff;
}

.tempor-content__text-link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */