.footer {
    background-color: #282828;
    padding: 60px 0 20px;

    @media (max-width: 575.98px) {
        padding: 30px 0 0px;
    }
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    width: 33%;
    color: #fff;
    padding: 0 40px;
    margin-bottom: 40px;

    @media (max-width: 991.98px) {
        width: 50%;
    }

    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.footer-menu__link {
    color: #fff;
    
    &:hover {
        text-decoration: underline;
    }
}

.footer-menu__list {
    padding-left: 20px;
}
.footer-menu__list .footer-menu__item {
    list-style: disc;
}

.footer-subscribe__title {
    margin-bottom: 16px;
}

.footer-form__input {
    margin-bottom: 20px;
}

.footer-form__input input {
    width: 100%;
    padding: 10px 14px;
}

.footer-subscribe__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: block;
    color: #000;
    padding: 10px 14px;
    margin-left: auto;
}

.footer-social__title {
    margin-bottom: 16px;
}

.footer-social__icons-list {
    display: flex;
    justify-content: space-between;
}

.footer-social__icons-list li {
    margin-right: 15px;
}

.footer-social__icons-list img {
    max-width: 100%;
    transition: all .2s ease;
}

.footer-social__icons-list img:hover {
    transform: scale(1.1);
}

.footer-copyright {
    background-color: #000;
    padding: 20px 0;
}

.footer-copyright__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 575.98px) {
        flex-direction: column;
        justify-content: center;
    }
}

.footer-copyright__text {
    font-size: 14px;
    color: #fff;
    opacity: .2;

    @media (max-width: 575.98px) {
        margin-bottom: 10px;
    }
}

.footer-copyright__icons img {
    vertical-align: middle;
    margin-left: 10px;
}